<html>

<<<<<<< HEAD
<head></head>

<body>
    {{>header}}
    {{title}}
=======
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <br>

    {{title}}


>>>>>>> master
    {{>footer}}
</body>

</html>