<html>

<<<<<<< HEAD
<head></head>

<body>
    {{>header}}
    {{title}}
=======
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <br>
>>>>>>> master

    {{#each people}}
    <li>{{this.name}}</li>
    {{/each}}
<<<<<<< HEAD
=======


>>>>>>> master
    {{>footer}}
</body>

</html>